.table {
    .link-action {
        a {
            font-size: 20px;
            color: $gray-500;
        }

        a:not(:last-child) {
            padding-right: 4px;
        }

        a:hover {
            color: $primary;
        }
    }
}
